@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Notable&display=swap");

#site-logo {
  width: 5rem;
}

#site-name {
  display: inline;
  color: white;
}

#github {
    float: right;
}

#github-logo {
    width: 5rem
}

#guess-counter {
  color: white;
  font-size: 1.6rem;
}

.team-logos {
  width: 9rem;
  max-width: 100%
}

html {
  font-family: "Caprasimo", cursive;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #311042;
  /* background: linear-gradient(to right bottom, #4C20B2, #595454) */
}

#nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #311042;
}

#name-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

#board-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#flex-container {
    /*  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-board {
  width: 40rem;
  /* height: 20rem; */
  /* margin-right: auto;
    margin-left: auto; */
    margin: auto;
    /* display: grid;
   grid-template-columns: repeat(3,minmax(0,1fr)); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.board-cell {
    width: 25%;
    display: flex;
    flex-direction: row;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;

}

#game-board button {
    width: 25%;
    background-color: #311042;
    border-radius: 10px;
    border-color: white;
    aspect-ratio: 1 / 1;
}

#game-board button:hover {
    border-color: white;
    background-color: mediumpurple;


}

#modal {
  max-width: 100%;
}

/* .active {
    display: block;
} */